body{
    background-color:whitesmoke;
    color: rgb(0, 0, 0);
    
}
html {
    scroll-behavior: smooth;
}

/* ===================== */
ul{
    margin-left: auto;
}

.nav-link:hover{
    color: #FC7300;
}

/* ===================== */





/* ===================== */

h1{
    color: #FC7300;
}
h3{
    padding-bottom: 15px;
}
.v-menu{
    color: #FC7300;
    border-color: #FC7300;
}
.v-menu:hover{
    background-color: #FC7300;
    color: black;
}

/* -------------------------- */
.about{
    padding-top: 60px;
    padding-bottom: 100px;
}
.about-img{
    border-radius: 20px;
    width: 90%;
}

/* ----------------------*/
.card{
    background-color:whitesmoke;
    border: none;
}
.card-img-top{
    width: 200px;
    padding-left: 100px;
}
.svg-i{
   text-align: center;
}



