body{
    background-color:#EEEEEE;
    color: rgb(0, 0, 0);
    
}

html {
    scroll-behavior: smooth;
}
p{
    color: rgba(0, 0, 0, 0.651);
}

/* ===================== */
ul{
    margin-left: auto;
}

.nav-link:hover{
    color: #FC7300;
}

/* ===================== */

/* ===================== */
.home-text{
    text-align: center;
}

h1{
    color: #000000;
}
h3{
    padding-bottom: 15px;
}
.v-menu{
    color: #FC7300;
    border-color: #FC7300;
}
.v-menu:hover{
    background-color: #FC7300;
    color: black;
}

/* -------------------------- */
.about ,.special , .offers{
    padding-top: 110px;
    padding-bottom: 100px;
}
.about-img{
    border-radius: 20px;
    width: 90%;
}

/* ----------------------*/
.card{
    background-color: #EEEEEe;
    border: none;
 
}
.card:hover{
background-color: #e2dede94;

}
.card-img-top{
    width: 150px;
    margin: auto;

}

/* =============app-buttons============= */
a img{
    width: 120px;
}
/* =================== */
.gg-facebook:hover {
    color: #3B44F6;
}

.gg-instagram:hover {
    color: #E4508F;
}

.gg-twitter:hover {
    color: #2192FF;
}

.gg-mail:hover {
    color: #EB5353;
}
.gg-phone:hover {
    color: #10a034;
}
.list-group {
    background-color: #EEEEEE;
    width: 50px;
    margin-left: auto;
}
.list-group-item {
    background-color: transparent;
    border: none;
}
.btn-c{
    border: none;
}
.contact{
    padding: 100px;
}
h5{
    color: #FC7300;
}
